# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# IDEs
.vscode/
.idea/

# Distribution
build/
dist/
*.egg-info/

# Reports
reports/

# Logs
*.log
